.hero {
  &--homepage {
    background-color: var(--color-light-mint);
  }

  &__wrapper {
    display: flex;
    justify-content: space-between;
    gap: 20px;
  }

  &__info {
    max-width: 475px;
    padding-top: 45px;
  }

  &__title {
    @include mb(var(--offset-35));
  }

  &__subtitle {
    @include fz70-agrandir;

    @include mb(var(--offset-20));
  }

  &__text {
    @include mb(var(--offset-35));

    max-width: 436px;
  }
}
