<section class="block-list-line">
  <div class="block-list-line__container container">
    <div class="block-list-line__info">
      <h2 class="block-list-line__subtitle subtitle-section">The first pharmacy made for seniors</h2>
      <div class="block-list-line__text text-section">
        <p>MedBox is a pharmacy designed to cater to the distinct needs of
          seniors. We use
          technology to sort prescriptions by the dose and deliver them to your door for free. The results: a
          hassle-free
          way to manage your medications that empowers you to maintain your independence.</p>
      </div>
      <a class="block-list-line__link btn" href="#">Learn About Medbox</a>
    </div>
    <ul class="block-list-line__list">
      <li class="block-list-line__item">
        <span class="block-list-line__descr">Prescriptions Sorted by Dose</span>
      </li>
      <li class="block-list-line__item">
        <span class="block-list-line__descr">Works with Most Insurances</span>
      </li>
      <li class="block-list-line__item">
        <span class="block-list-line__descr">Automatic Refills</span>
      </li>
      <li class="block-list-line__item">
        <span class="block-list-line__descr">Free Delivery</span>
      </li>
    </ul>
  </div>
  <img class="block-list-line__img" src="" alt="">
</section>
