<footer class="footer">
  <div class="container">
  </div>
</footer>
<!-- <div class="preloader js-preloader">
  <div class="preloader__loader">
    <div class="preloader__main">
      <div class="preloader__wrapper">
        <div class="preloader__content"></div>
      </div>
    </div>
    <span class="preloader__percents js-preloader-precents">
      <span class="preloader__value ">0</span>%
    </span>
  </div>
</div> -->
<div class="preloader">
  <div class="preloader__row">
    <div class="preloader__item"></div>
    <div class="preloader__item"></div>
  </div>
</div>
