<section class="hero hero--homepage">
  <div class="hero__container container">
    <div class="hero__wrapper">
      <div class="hero__info">
        <h1 class="hero__title title-section">Pharmacy made for seniors</h1>
        <h2 class="hero__subtitle subtitle-section subtitle-section--homepage">No more pill sorting</h2>
        <div class="hero__text text-section">
          <p>MedBox empowers seniors with a daily medication routine that sticks</p>
        </div>
        <button class="hero__btn btn btn--hero-section">Get Started</button>
      </div>
      <img class="hero__img" src="/img/hero-section/hero-homepage-img.png"
        alt="Pill packets, some of them open and pills are falling out of them" width="750" height="507" loading="lazy">
    </div>
  </div>
</section>
