<section class="video-block video-block--homepage">
  <video class="video-block__content" poster="img/video-block/video-poster-homepage.jpg" muted playsinline autoplay loop
    preload="auto" aria-describedby="video-description-homepage">
    <source src="./video-block/video-block-homepage.webm" type="video/webm">
    <source src="./video-block/video-block-homepage.mp4" type="video/mp4">
  </video>
  <p class="visually-hidden" id="video-description-homepage">A man takes medicine from a bag</p>
</section>
