:root {
  --offset-50: 50px;
  --offset-45: 45px;
  --offset-44: 44px;
  --offset-40: 40px;
  --offset-35: 35px;
  --offset-30: 30px;
  --offset-25: 25px;
  --offset-20: 20px;
  --offset-15: 15px;
  --offset-12: 12px;
}
