.page {
  height: 100%;
  font-family: var(--font-family-base);
  font-weight: 400;
  background-color: var(--color-light);
  -webkit-text-size-adjust: 100%;
  text-rendering: optimizeSpeed;
}

.page__body {
  margin: 0;
  min-width: 320px;
  min-height: 100%;
  font-size: 16px;
}

.site-container {
  @include footerToBottom;
}

.scroll-lock {
  overflow: hidden;
}

.visually-hidden {
  position: absolute;
  overflow: hidden;
  margin: -1px;
  border: 0;
  padding: 0;
  width: 1px;
  height: 1px;
  clip: rect(0 0 0 0);
}

.container {
  margin-inline: auto;
  padding-inline: var(--container-offset);
  max-width: var(--container-width);
}

.js-focus-visible :focus:not(.focus-visible) {
  outline: none;
}

.skiplink {
  --skiplink-offset: 20px;

  position: absolute;
  top: -200px;
  left: var(--skiplink-offset);
  transition: top var(--timing) ease;
  color: var(--color-black-green);

  &:focus {
    top: var(--skiplink-offset);
    outline: 2px solid currentColor;
    outline-offset: 4px;
  }
}

@media (prefers-reduced-motion) {
  * {
    &,
    &::after,
    &::before {
      animation: none !important;
      transition: 0.01s !important;
    }
  }
}
